{% extends 'sitesiteBundle::base_pages.html.twig' %}
{% set cssjsloads = 'simple' %}

{% block mainContainer %}
<section>
	<div class="container">
		<div class="row">

			{{ include('sitesiteBundle:blocks:mainmenu.html.twig') }}

			<div class="col-sm-9 col-md-9 padding-left-resp">
				<div class="content-page-right">
					<h2 class="title">
						{{ categorie.parents|join(' > ')|raw }} > {{ categorie }}
						{# {% if pageweb.titreh1 != null %}<em style='font-size:0.7em;'><i> - {{ pageweb.titreh1|raw }}</i></em>{% endif %} #}
					</h2>
					<div class="single-section">
						{% if pageweb.mainMedia|default(null) != null %}
						<img src="{{ pageweb.mainMedia.imgThumbnail(280,null,'in')|raw }}" alt="{{ pageweb.mainMedia.nom|default('image') }}">
						{% endif %}
						{% if pageweb.code|default('') != '' %}
						<p>{{ pageweb.code|raw }}</p>
						{% endif %}
						<div class="section-tabs">
							{% set aucunarticle = true %}
							<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									{% for item in categorie.nestedChilds(true) %}
										<p>{{ item.nom }} <i class="text-muted">(id:{{ item.id }} / class:{{ item.className }})</i></p>
										{% set aucunarticle = false %}
									{% endfor %}
								</div>
							</div>
							{% if aucunarticle %}
								{{ UCfirst('not_found'|trans({}, 'article')) }}
							{% endif %}
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

{# include('sitesiteBundle:blocks:mini-liste-info.html.twig') #}

{% endblock mainContainer %}