{% extends 'sitesiteBundle::base_pages.html.twig' %}
{% set cssjsloads = 'gmap' %}

{% block mainContainer %}
	<div class="container">
		<div class="bg">
			<div class="row">
				<div class="col-sm-8">
					<div id="gmap">
						<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.851938617299!2d5.405574793781415!3d46.08619196962172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ca9d35627e5ef%3A0x9d69bdf673886ebf!2sLa+Boucherie+du+Veyron!5e0!3m2!1sfr!2sfr!4v1448305621316" style="border:0"></iframe>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="contact-info">
						<h2 class="title">Adresse</h2>
						<address>
							<h4>Boucherie du Veyron</h4>
							<p>1 Rue Neuve</p>
							<p>01450 Poncin</p>
							<p>Tél: 04 74 37 77 09</p>
							<p>Mobile: 06 87 86 41 78</p>
							<p>Email: laboucheriedeveyron@orange.fr</p>
						</address>
					</div>
				</div>
			</div>
		</div>
	</div><!--/#contact-page-->
	
		
	<section id="section-color">
	
		<div id="contact-page"  class="container"><!--container-->
			<div class="center">
				<h2 class="title text-center">{{ pageweb.titreh1|raw }}</h2>
				<p class="text-center">{{ pageweb.code|raw }}</p>
			</div>
			{% if message_success is defined %}
			<div class="status alert alert-success">{{ message_success|trans }}</div>
			{% endif %}
			{% if message_error is defined %}
			<div class="status alert alert-danger">{{ message_error|trans }}</div>
			{% endif %}
			{{ form_start(message_form) }}
			<!-- <form id="main-contact-form" class="contact-form row" name="contact-form" method="post"> -->
			<div class="col-sm-6">
				{% for item in ['nom', 'prenom', 'email', 'telephone'] %}
				<div class="form-group col-md-12">
					{{ form_widget(message_form[item]) }}
					{{ form_errors(message_form[item]) }}
				</div>
				{% endfor %}
			</div>
				
			<div class="col-sm-6">
				{% for item in ['objet', 'message'] %}
				<div class="form-group col-md-12">
					{{ form_widget(message_form[item]) }}
					{{ form_errors(message_form[item]) }}
				</div>
				{% endfor %}
				<div class="form-group col-md-12">
					{{ form_widget(message_form['submit']) }}
				</div>
			</div>
			{{ form_rest(message_form) }}
			{{ form_end(message_form) }}
		</div><!--/container-->

	</section>

{% endblock mainContainer %}
