{% extends 'sitesiteBundle::base_pages.html.twig' %}

{%- block title -%}
    {%- if pageweb.title|trim|length > 0 -%}
    {{- pageweb.title|raw -}}
    {%- else -%}
    {{- parent() -}}
    {%- endif -%}
{%- endblock -%}
{%- block description -%}
    {%- if pageweb.metadescription|trim|length > 0 -%}
    {{- pageweb.metadescription|raw -}}
    {%- else -%}
    {{- parent() -}}
    {%- endif -%}
{%- endblock description -%}
{%- block keywords -%}
    {%- if pageweb.metatitle|trim|length > 0 -%}
    {{- pageweb.metatitle|raw -}}
    {%- else -%}
    {{- parent() -}}
    {%- endif -%}
{%- endblock keywords -%}

{% block mainContainer %}
    <h1>{{ pageweb.titreh1|raw }}</h1>
    <br>
    <p>{{ pageweb.code|raw }}</p>
    <br>
    {{ include('sitesiteBundle:blocks:mini-liste-info.html.twig') }}    
{% endblock mainContainer %}
