{% extends 'sitesiteBundle::base_pages.html.twig' %}
{% set cssjsloads = 'simple' %}

{% block mainContainer %}
<section>
	<div class="container">
		<div class="row">

			{{ include('sitesiteBundle:blocks:mainmenu.html.twig') }}

			<div class="col-sm-9 col-md-9 padding-left-resp">
				<div class="content-page-right">
					<h2 class="title">{{ pageweb.titreh1|raw }}</h2>
					<div class="single-section">
						{% if pageweb.mainMedia|default(null) != null %}
						<img src="{{ pageweb.mainMedia.imgThumbnail(280,null,'in')|raw }}" alt="{{ pageweb.mainMedia.nom|default('image') }}">                
						{% endif %}
						<p>{{ pageweb.code|raw }}</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

{# include('sitesiteBundle:blocks:mini-liste-info.html.twig') #}

{% endblock mainContainer %}