{% macro list_blockmini(items, count) -%}
	{% import _self as self %}
	{% for item in randomArray(items, count|default(4)) %}
	{# {% if loop.index0 < count|default(4) %} #}
		{{ self.blockmini(item) }}
	{# {% endif %} #}
	{% endfor %}
{%- endmacro list_blockmini %}

{% macro blockmini(item) -%}
	{% import _self as self %}
	{% set EDITORMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_EDITOR')) %}
	{% if item.className|default(item.class_name|default(null)) matches '#^article#' %}
		{% import 'sitesiteBundle:blocks:articles_actions.html.twig' as actions %}
		{{ actions.boxArticle(item) }}
	{% elseif item.className|default(item.class_name|default(null)) matches '#^fiche#' %}
		{% import 'sitesiteBundle:blocks:fiches_actions.html.twig' as actions %}
		{{ actions.boxFiche(item) }}
	{% endif %}
{%- endmacro blockmini %}

{% macro imageprint(item, x, y, classes) %}
	{% set x = x|default(250) %}
	{% set y = y|default(175) %}
	{# {% set imgpath = asset('bundles/sitesite/images/defaults/no-picture-' ~ x ~ 'x' ~ y ~ 'px.png') %} #}
	{% set imgpath = asset('bundles/sitesite/images/defaults/no-picture.png') %}
	{% if item.mainMedia|default(null) != null %}
		{% if item.mainMedia.isScreenableImage %}
			{% set imgpath = item.mainMedia.imgThumbnail(x,y,'cut') %}
		{% endif %}
	{% endif %}
	<img src="{{ imgpath|raw }}" alt="{{ 'name'|trans({}, item.className|default(item.class_name|default(null))) }} {{ item.slug }}" class="{{ classes|default([])|join(' ') }}" />
{%- endmacro imageprint %}

{% macro breadcrumb(item, categories) %}
	<small style="font-weight:300;">
		{% for parent in categories %}
			{% set parentSlug = null %}
			{% if categories[loop.index0 - 1] is defined %}{% set parentSlug = categories[loop.index0 - 1].slug %}{% endif %}
			{% if parent != item %}<a href="{{ path('site_pageweb_categorie', {itemSlug: parent.slug, parentSlug: parentSlug}) }}">{{ parent.nom }}</a> / {% endif %}
		{% endfor %}
	</small>{{ item.nom }}
{% endmacro %}