{% macro list_blockmini(items, count) -%}
	{% import _self as self %}
	{% for item in randomArray(items, count|default(4)) %}
	{# {% if loop.index0 < count|default(4) %} #}
		{{ self.blockmini(item) }}
	{# {% endif %} #}
	{% endfor %}
{%- endmacro list_blockmini %}

{% macro blockmini(item) -%}
	{% import _self as self %}
	{# {% set EDITORMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_EDITOR')) %} #}
	{% if item.shortName matches '#^article#' %}
		{% import 'sitesiteBundle:blocks:articles_actions.html.twig' as actions %}
		{{ actions.boxArticle(item) }}
	{% elseif item.shortName matches '#^fiche#' %}
		{% import 'sitesiteBundle:blocks:fiches_actions.html.twig' as actions %}
		{{ actions.boxFiche(item) }}
	{% endif %}
{%- endmacro blockmini %}

{% macro imageprint(item, x, y, classes) %}
	{# {{ dump(item) }} #}
	{% set x = x|default(250) %}
	{% set y = y|default(175) %}
	{% if item.image|default(null) != null %}
		{% set image = item.image.imgThumbnail(x,y,'cut') %}
	{% elseif item['image_id']|default(null) != null %}
		{% set image = imageB64sized(item['image_id'], x,y,'cut') %}
	{% endif %}
	{% if image|default(null) == null %}
		{% set image = missingImage(x,y) %}
	{% endif %}
	<img src="{{ image }}" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="{{ classes|default([])|join(' ') }}" />
{%- endmacro imageprint %}

{% macro breadcrumbArray(item, categories) %}
	<small style="font-weight:300;">
		{% for parent in categories %}
			{% set parentSlug = null %}
			{% if categories[loop.index0 - 1] is defined %}{% set parentSlug = categories[loop.index0 - 1].slug %}{% endif %}
			{% if parent != item %}<a href="{{ path('site_pageweb_categorie', {itemSlug: parent.slug, parentSlug: parentSlug}) }}">{{ parent.nom }}</a> / {% endif %}
		{% endfor %}
	</small>{{ item.nom }}
{% endmacro breadcrumbArray %}

{% macro breadcrumb(item, categorie) %}
	{% if categorie|default(null) != null %}
	<small style="font-weight:300;">
		{% for parent in categorie.categorieParents_inverse(true) if parent.lvl > 0 -%}
			<a href="{{ path('site_pageweb_categorie', {itemSlug: parent.slug, parentSlug: parent.categorieParent.slug}) }}">{{ parent.nom }}</a> / {% endfor %}
	</small>{% endif %}{{ item.nom }}
{% endmacro breadcrumb %}

