{% if diaporama.childsByGroup('nesteds', ['article','ficherecette','ficheboisson','image','pageweb'])|length > 0 %}
{% import 'sitesiteBundle:blocks:articles_actions.html.twig' as articles_macros %}
{% import 'sitesiteBundle:blocks:blocks_actions.html.twig' as blocks_actions %}
{% import 'sitesiteBundle:blocks:actions.html.twig' as actions %}
<div class="col-sm-9 col-md-9 padding-left-resp"><!--colonne right-->
	<div id="slider-home"><!--slider-->
		<div id="slider-carousel" class="carousel slide" data-ride="carousel">

			<ol class="carousel-indicators">
				{% for item in diaporama.group_nesteds_childs if item.shortName != "categorie" %}
				<li data-target="#slider-carousel" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
				{% endfor %}
			</ol>

			<div class="carousel-inner">

				{% set forceHeight = 'height:322px;overflow:hidden;' %}
				{% for item in diaporama.group_nesteds_childs %}

				{% if item.shortName matches "#^article#" %}
				<div class="item{% if loop.first %} active{% endif %}" style="{{ forceHeight|raw }}">
					<div class="item-margin">
						<div class="col-sm-5 col-md-4 col-lg-5 padding-right padding-left">
							<h1><a {{ actions.elementHref(item, '_self') }}>{{ UCfirst(item.nom) }}</a></h1>
							{{ item.accroche|default('')|raw }}
							<small>{{ item.descriptif|default('')|raw }}</small>
							{% if marketplace.vente and item.surdevis %}
							<h4>Demandez un devis</h4>
							{% else %}
							<h2>{{ articlePrix(item)|raw }}</h2>
							{{ articles_macros.blockPrixDiapo(item) }}
							{% endif %}
						</div>
					</div>
					<a {{ actions.elementHref(item, '_self') }}>
						<div class="col-sm-7 col-md-8 col-lg-7 padding-right padding-left">
							{% if item.image|default(null) != null %}
							<img src="{{ imageB64sized(item.image.id, 500, 350, 'cut') }}" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" />
							{% else %}
							<img src="{{ missingImage(500,350) }}" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" />
							{# <img src="{{ asset('bundles/sitesite/images/defaults/no-picture.png') }}" style="height:322px;" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" /> #}
							{% endif %}
						</div>
					</a>
				</div>

				{% elseif item.shortName matches "#^pageweb#" %}
				<div class="item{% if loop.first %} active{% endif %}" style="{{ forceHeight|raw }}">
					<div class="col-sm-5 col-md-4 col-lg-5 padding-right padding-left">
						<h1>{{ UCfirst(item.nom) }}</h1>
						{{ item.descriptif|default('')|raw }}
					</div>
					<div class="col-sm-7 col-md-8 col-lg-7 padding-right padding-left">
						{% if item.image|default(null) != null %}
						<img src="{{ imageB64sized(item.image.id, 500, 350, 'cut') }}" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" />
						{% else %}
						<img src="{{ missingImage(500,350) }}" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" />
						{# <img src="{{ asset('bundles/sitesite/images/defaults/no-picture.png') }}" style="height:322px;" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" /> #}
						{% endif %}
					</div>
				</div>

				{% elseif item.shortName matches "#^fiche#" %}
				<div class="item{% if loop.first %} active{% endif %}" style="{{ forceHeight|raw }}">
					<div class="col-sm-5 col-md-4 col-lg-5 padding-right padding-left">
						<h1>{{ UCfirst(item.nom) }}</h1>
						{{ item.descriptif|default('')|raw }}
					</div>
					<div class="col-sm-7 col-md-8 col-lg-7 padding-right padding-left">
						{% if item.image|default(null) != null %}
						<img src="{{ imageB64sized(item.image.id, 500, 350, 'cut') }}" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" />
						{% else %}
						<img src="{{ missingImage(500,350) }}" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" />
						{# <img src="{{ asset('bundles/sitesite/images/defaults/no-picture.png') }}" style="height:322px;" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" /> #}
						{% endif %}
					</div>
				</div>

				{% elseif item.shortName matches "#^evenement#" %}
				{% set modeEvenement = 1 %}
				<div class="item{% if loop.first %} active{% endif %}" style="{{ forceHeight|raw }}background-color:{{ item.couleur|default('transparent') }};">
					{% if modeEvenement == 1 %}
					<div class="item-margin">
						<div class="col-sm-5 col-md-4 col-lg-5 padding-right padding-left">
							<h4>{{ UCfirst(item.nom) }}</h4>
							{{ item.descriptif|default('')|raw }}
						</div>
					</div>
					<div class="col-sm-7 col-md-8 col-lg-7 padding-right padding-left">
						{% if item.id != null %}
						<img src="{{ imageB64sized(item.image.id, 500, 350, 'cut') }}" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" />
						{% else %}
						<img src="{{ missingImage(500,350) }}" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" />
						{% endif %}
					</div>
					{% elseif modeEvenement == 2 %}
					<div class="col-xs-12 text-center">
						{% if item.id != null %}
						<img src="{{ imageB64sized(item.image.id) }}" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" />
						{% else %}
						<img src="{{ missingImage(500,350) }}" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" />
						{% endif %}
					</div>
					{% endif %}
				</div>

				{% elseif item.shortName matches "#^image#" %}
				{% set modeImage = 2 %}
				<div class="item{% if loop.first %} active{% endif %}" style="{{ forceHeight|raw }}">
					{% if modeImage == 1 %}
					<div class="item-margin">
						<div class="col-sm-5 col-md-4 col-lg-5 padding-right padding-left">
							<h4>{{ UCfirst(item.nom) }}</h4>
							{{ item.descriptif|default('')|raw }}
						</div>
					</div>
					<div class="col-sm-7 col-md-8 col-lg-7 padding-right padding-left">
						{% if item.id != null %}
						<img src="{{ imageB64sized(item.id, 500, 350, 'cut') }}" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" />
						{% else %}
						<img src="{{ missingImage(500,350) }}" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" />
						{% endif %}
					</div>
					{% elseif modeImage == 2 %}
					<div class="col-xs-12 text-center">
						<img src="{{ imageB64sized(item.id) }}" alt="{{ 'name'|trans({}, item.shortName) }} {{ item.slug }}" class="slid-img img-responsive" />
					</div>
					{% endif %}
				</div>
				{% endif %}
				{% endfor %}

			</div>

			<a href="#slider-carousel" class="left control-carousel" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a href="#slider-carousel" class="right control-carousel" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>

		</div>
	</div><!--/slider-->
</div><!--/col-->
{% endif %}


