{% macro boxFiche(item, categorie) %}

{% if item.shortName matches '#^fiche#' %}
	{% import 'sitesiteBundle:blocks:actions.html.twig' as actions %}
	{% import 'sitesiteBundle:blocks:blocks_actions.html.twig' as blocks_actions %}
	{% set EDITORMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_EDITOR')) %}
	<div class="col-sm-6 col-md-3"><!--div image 1 tab 1-->
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo">
					<a {{ actions.elementHref(item, categorie|default(null))|raw }}>{{ blocks_actions.imageprint(item, 275, null) }}</a>
					<div class="product-bottom">
						<div class="btn-group order-group for-fiche full-width" role="group" style="width:100%;text-align:center;margin-top:0px;">
							{% if item.shortName matches '#recette$#' %}
							<h2 style="width:100%;text-align:center;line-height:12px;"><small><i>{{ 'fields.niveau'|trans({}, item.shortName) }} {# {{ item.niveau|trans({}, item.shortName) }} #}</i></small></h2>
							{% elseif item.shortName matches '#boisson$#' %}
							<h2 style="width:100%;text-align:center;line-height:12px;"><small><i>{{ 'fields.note'|trans({}, item.shortName) }} {{ item.note|default('/')|trans({}, item.shortName) }}</i></small></h2>
							{% endif %}
						</div>
					</div>
				</div>
				<p class="tab-name-product">
					<a {{ actions.elementHref(item, categorie|default(null))|raw }}>{{ item.nom }}</a>
					{%- if EDITORMODE %} <a href="{{ path('siteadmin_entite', {entite: item.shortName, id: item.id, action: 'show'}) }}"><i class="fa fa-eye icon-wait-on-click"></i></a>{% endif %}
					{%- if EDITORMODE %} <a href="{{ path('siteadmin_entite', {entite: item.shortName, id: item.id, action: 'edit'}) }}"><i class="fa fa-pencil icon-wait-on-click"></i></a>{% endif %}
				</p>
				<p class="tab-info-category">{{ categorie.nom|default('') }}</p>
			</div>
		</div>
	</div>
{% endif %}

{# <div class="productinfo">
	<a {{ actions.elementHref(item, categorie|default(null))|raw }}>{{ blocks_actions.imageprint(item, 275, null) }}</a>
	<div class="product-bottom">
		<div class="btn-group order-group for-fiche full-width" role="group" style="width:100%;text-align:center;margin-top:0px;">
			<h2 style="width:100%;text-align:center;line-height:12px;">
				<small>
					<a {{ actions.elementHref(item, categorie|default(null))|raw }}>{{ item.nom }}</a>
					{%- if EDITORMODE %} <a href="{{ path('siteadmin_entite', {entite: item.shortName, id: item.id, action: 'show'}) }}"><i class="fa fa-eye icon-wait-on-click"></i></a>{% endif %}
					{%- if EDITORMODE %} <a href="{{ path('siteadmin_entite', {entite: item.shortName, id: item.id, action: 'edit'}) }}"><i class="fa fa-pencil icon-wait-on-click"></i></a>{% endif %}
				</small>
			</h2>
		</div>
	</div>
</div>
<p class="tab-name-product">
	{% if item.shortName matches '#recette$#' %}
	<i>{{ 'fields.niveau'|trans({}, item.shortName) }} {{ item.niveau|trans({}, item.shortName) }}</i>
	{% elseif item.shortName matches '#boisson$#' %}
	<i>{{ 'fields.note'|trans({}, item.shortName) }} {{ item.note|default('/')|trans({}, item.shortName) }}</i>
	{% endif %}
</p> #}

{% endmacro %}
