<div class="footer-bottom">
	<div class="container">
		<div class="row">
			{% set boutique = sitedata.boutiques.0|default(null) %}
			<p class="pull-left">{{ 'footer.rights'|trans|capitalize }} © {{ annee() }} - {{ 'site'|trans }} {{ sitedata.nom }}{% if boutique.adresse is not null %} - {{ boutique.adresse.adresse }} - {{ boutique.adresse.cp }} {{ boutique.adresse.ville }}{% endif %}</p>
			<p class="pull-right">{{ 'footer.realisation'|trans({'%name%': 'Aequation-Webdesign.fr'})|capitalize }} </p>
		</div>
	</div>
</div>