{% if app.session.get('sitedata') != null %}
<div class="header_top" style="background-color:{{ app.session.get('sitedata').couleur|default('red') }};"><!--header_top-->
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="contactinfo">
					<ul class="nav nav-pills">
						{% if app.session.get('sitedata').boutiques|default([])|length > 0 %}
						{% if app.session.get('sitedata').boutiques.0.telfixe is not null %}
						<li><a><i class="fa fa-phone m-r-xs"></i> {{ app.session.get('sitedata').boutiques.0.telfixe }}</a></li>
						{% endif %}
						{% if app.session.get('sitedata').boutiques.0.mobile is not null %}
						<li><a><i class="fa fa-mobile m-r-xs"></i> {{ app.session.get('sitedata').boutiques.0.mobile }}</a></li>
						{% endif %}
						{% if app.session.get('sitedata').boutiques.0.email is not null %}
						<li><a href="mailto:{{ app.session.get('sitedata').boutiques.0.email }}"><i class="fa fa-envelope m-r-xs"></i> {{ app.session.get('sitedata').boutiques.0.email }}</a></li>
						{% endif %}
						{% endif %}
						{% if (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}
						<li>
							<small>AJAX Lasts: <span class="ajax_lasts"></span> / Session: <span class="ajax_session"></span> / Timelaps: <span class="ajax_timelaps"></span> / REFRESH Lasts: <span class="refresh_lasts"></span> / Session: <span class="refresh_session"></span> / Timelaps: <span class="refresh_timelaps"></span></small>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="social-icons pull-right">
					<ul class="nav navbar-nav">
						<li>
							<a href="https://www.facebook.com/La-boucherie-du-Veyron-130699467080417" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div><!--/header_top-->
{% endif %}