<div class="header-middle"><!--header-middle-->
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-sm-3 col-md-3 content-logo">
				<div class="logo pull-left">
					{% if sitedata.image|default(null) != null %}
					<a href="{{ path('sitesite_homepage') }}"><img src="{{ sitedata.image.img }}" alt="logo" /></a> {# sitedata.image.imgThumbnail(260, 118, in) #}
					{% else %}
					<a href="{{ path('sitesite_homepage') }}"><img src="{{ asset('bundles/sitesite/images/home/logo.jpg') }}" alt="logo" /></a>
					{% endif %}
				</div>
			</div>
			<div class="col-xs-8 col-sm-9 col-md-9 padding-right">
				<div class="header-title-shop">

					<div class="row">
						<div class="col-xs-7 col-sm-7 col-md-8">
							<div class="pull-left">
								<h1>Boucherie Charcuterie Traiteur</h1>
							</div>
						</div>
						<div class="col-xs-5 col-sm-5 col-md-4">
							<div class="shop-menu pull-right">
								<ul class="nav navbar-nav">
									{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
									<li><a href="#"><i class="fa fa-shopping-cart"></i> Panier</a></li>
									{% endif %}
									{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											<i class="fa fa-user"></i> {{ phraseCut(app.user.username, 10) }} 
											<!-- <span class="caret"></span> -->
										</a>
										<ul class="dropdown-menu dropdown-menu-right animated fadeInLeft" aria-labelledby="dropdownMenu1">
											<li><a href="{{ path('fos_user_profile_show') }}">{{ 'profile.name'|trans({}, 'siteUserBundle')|capitalize }}</a></li>
											<li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'siteUserBundle')|capitalize }}</a></li>
										</ul>
									</li>
									{% else %}
									<li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-user"></i> Connexion</a></li>
									{% endif %}
									{% if is_granted("ROLE_TRANSLATOR") %}
									<li>
										{% if app.request.getSchemeAndHttpHost() == 'http://localhost' or site_domains.admin is not defined -%}
										<a href="{{ path('siteadmin_homepage') }}">
										{%- else -%}
										<a href="{{ site_domains.admin.prefix }}.{{ site_domains.admin.domain }}.{{ site_domains.admin.extensions[0] }}{{ site_domains.admin.path }}">
										{%- endif %}
											<i class="fa fa-cog"></i>
										</a>
									</li>
									{% endif %}
								</ul>
							</div>
						</div>
					</div>

					<div class="menu-interne col-sm-12">
						<div class="navbar-header"><!--interne-menu-->
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							{% if is_granted(menu.roles.view|default('IS_AUTHENTICATED_ANONYMOUSLY')) %}
							<ul class="nav navbar-nav collapse navbar-collapse">
								{% for items in menu.menu %}
								{% for key,item in items if is_granted(item.role|default('IS_AUTHENTICATED_ANONYMOUSLY')) %}
								{% set icon = '' %}
								{% if item.icon|default('fa-question') != 'fa-question' %}{% set icon = '<i class="fa ' ~ item.icon ~ '"></i>' %}{% endif %}
								{% set path = '#' %}
								{% if item.path.route|default('#') != '#' %}
									{% set path = path(item.path.route, item.path.params|default([])) %}
								{% endif %}
								{% if key != 'children' %}
									{% set name = '' %}
									{% if item.name|default('') != '' %}{% set name = ' ' ~ UCfirst(item.name|trans({}, item.trans_domain|default('menus'))) %}{% endif %}
									<li>
										<a href="{{ path|raw }}"{% if item.title|default(null) != null %} title="{{ UCfirst(item.title|trans({}, item.trans_domain|default('menus'))) }}"{% endif %}>{{ icon|raw }}{{ name }}</a>
									</li>
								{% endif %}
								{% endfor %}
								{% endfor %}
							</ul>
							{% else %}
							<p><i class="fa fa-ban text-muted"></i> Menu non autorisé.</p>
							{% endif %}
						</div>
					</div><!--/interne-menu-->
				</div>

			</div>
		</div>
	</div>
</div><!--/header-middle-->