{% if sitedata.menuArticle|default(null) != null %}
<div class="col-sm-3 col-md-3 padding-right-resp"><!--colonne left-->
	<div class="left-sidebar"><!--left-sidebar-->
     	
		<div class="panel-group category-products" id="accordian"><!--category-products-->

			{% for item1 in sitedata.menuArticle.group_categorie_parentChilds|default([]) %}
			<div class="panel panel-default"><!--product {{ item1 }}-->
				<div class="panel-heading">
					<h4 class="panel-title">
						{% if item1.className == 'categorie' %}
							{% if item1.group_categorie_parentChilds|length > 0 or item1.nestedChildsByClass|length > 0 %}
							<a data-toggle="collapse" data-parent="#accordian" href="#mainmenu-{{ item1.slug }}">
								<span class="badge pull-right"><i class="fa fa-plus"></i></span>
								{{ UCfirst(item1) }}
							</a>
							{% else %}
								<a href="{{ path('site_pageweb_articles', {categorieSlug: item1.slug }) }}">{{ UCfirst(item1) }}</a>
							{% endif %}
						{% else %}
							<a href="{{ path('site_pageweb_' ~ item1.className, {itemSlug: item1.slug, parentSlug: sitedata.menuArticle.slug }) }}">{{ UCfirst(item1) }}</a>
						{% endif %}
					</h4>
				</div>
				{% if item1.group_categorie_parentChilds|length > 0 or item1.nestedChildsByClass|length > 0 %}
				<div id="mainmenu-{{ item1.slug }}" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							{% for item2 in item1.group_categorie_parentChilds -%}
							<li>
								<a href="{{ path('site_pageweb_articles', {categorieSlug: item2.slug }) }}">{{ UCfirst(item2) }}</a>
							</li>
							{%- endfor %}
							{% for item2 in item1.nestedChildsByClass -%}
							<li>
								<a href="{{ path('site_pageweb_' ~ item2.className, {itemSlug: item2.slug, parentSlug: item1.slug }) }}">{{ UCfirst(item2) }}</a>
							</li>
							{%- endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
			</div><!--/product {{ item1 }}-->
			{% endfor %}
			
		</div><!--/category-products-->
	
	</div><!--/left-sidebar-->
</div><!--/colonne left-->
{% endif %}
