{% if sitedata.menuArticle|default(null) != null %}
<div class="col-sm-3 col-md-3 padding-right-resp"><!--colonne left-->
	<div class="left-sidebar"><!--left-sidebar-->
     	
		<div class="panel-group category-products" id="accordian"><!--category-products-->

			{% for item1 in sitedata.menuArticle.children|default([]) if item1.className == 'categorie' %}
			<div class="panel panel-default">
				<!--product {{ item1.nom }}-->
				<div class="panel-heading">
					<h4 class="panel-title">
						{% if item1.children|length > 0 %}
						<a data-toggle="collapse" data-parent="#accordian" href="#mainmenu-{{ item1.slug }}">
							<span class="badge pull-right"><i class="fa fa-plus"></i></span>
							<a href="{{ path('site_pageweb_' ~ item1.className, {itemSlug: item1.slug, parentSlug: sitedata.menuArticle.slug }) }}">{{ UCfirst(item1.nom) }}</a>
						</a>
						{% else %}
						<a href="{{ path('site_pageweb_' ~ item1.className, {itemSlug: item1.slug, parentSlug: sitedata.menuArticle.slug }) }}">{{ UCfirst(item1.nom) }}</a>
						{% endif %}
					</h4>
				</div>
				{% if item1.children|length > 0 %}
				<div id="mainmenu-{{ item1.slug }}" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							{% for item2 in item1.children if item2.className == 'categorie' -%}
							<li>
								<a href="{{ path('site_pageweb_' ~ item2.className, {itemSlug: item2.slug, parentSlug: item1.slug }) }}">{{ UCfirst(item2.nom) }}</a>
							</li>
							{%- endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
				<!--/product {{ item1.nom }}-->
			</div>
			{% endfor %}
			
		</div><!--/category-products-->
	
	</div><!--/left-sidebar-->
</div><!--/colonne left-->
{% endif %}
