{% if sitedata is defined %}
<div class="col-sm-3 col-md-3 padding-right-resp"><!--colonne left-->
	<div class="left-sidebar"><!--left-sidebar-->
     	
		<div class="panel-group category-products" id="accordian"><!--category-products-->

			{% for item1 in sitedata.menuArticle.children %}
			<div class="panel panel-default"><!--product {{ item1 }}-->
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordian" href="#mainmenu-{{ item1.slug }}">
							<span class="badge pull-right"><i class="fa fa-plus"></i></span>
							{{ UCfirst(item1) }}
						</a>
					</h4>
				</div>
				{% if item1.children is iterable %}
				<div id="mainmenu-{{ item1.slug }}" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							{% for item2 in item1.children -%}
							<li><a href="{{ path('site_pageweb_categories', {categorieSlug: item2.slug }) }}">{{ UCfirst(item2) }} </a></li>
							{%- endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
			</div><!--/product {{ item1 }}-->
			{% endfor %}
			
		</div><!--/category-products-->
	
	</div><!--/left-sidebar-->
</div><!--/colonne left-->
{% endif %}