{#
{% import 'laboBundle:macros:admin_links.html.twig' as labolinks %}
<section id="section-color">
	<div id="category-nav-tab">
		<div class="container">
			<div class="category-tab">
				<!--category-tab-->
				<ul class="nav nav-tabs">
					<li class="active" data-target="#recommended-item-carousel" data-slide-to="0">
						<a href="#">Promotions</a>
					</li>
					<li data-target="#recommended-item-carousel" data-slide-to="1">
						<a href="#">Pour vos fêtes</a>
					</li>
					<li data-target="#recommended-item-carousel" data-slide-to="2">
						<a href="#">Idées recettes</a>
					</li>
					{{ labolinks.adminLink('labo_entity_action', {entityName: 'article'}, '', 'li') }}
				</ul>
			</div>
			<!--/category-tab-->
		</div>
	</div>
	<div class="container section-tabs">
		<!--large container-->
		<div class="row">
			<div class="col-sm-12">
				<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="item active">
							<!--div images for tab 1-->
							{% for article in articles %}
							<!-- DEBUT : 1 article -->
							<div class="col-sm-6 col-md-3">
								<!--div image 1 tab 1-->
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo">
											<img src="{{ asset('images/original/' ~ article.imagePpale.fichierNom ) }}" alt="" />
											<div class="product-bottom">
												<div class="btn-group order-group for-product" role="group">
													<h2>{{ prix(article)|raw }}</h2>
													<button type="button" class="btn btn-default btn-commander"><i class="fa fa-shopping-cart fa-flip-horizontal"></i></button>
													<input class="command_quantity" type="text" name="quantity" value="150g" autocomplete="off" size="10">
													<span class="btn-quantity">
														<a class="btn quantity-top" href="#"><i class="fa fa-angle-up"></i></a>
														<a class="btn quantity-bottom" href="#"><i class="fa fa-angle-down"></i></a>
													</span>
												</div>
											</div>
										</div>
										<p class="tab-name-product">{{ article.nom }}{{ labolinks.adminLink('labo_entity_action', {entityName: 'article', id: article.id, action: 'show'}, '') }}</p>
										<p class="tab-info-category">veau</p>
										{% if article.cuissons|length > 0 %}
										<img src="{{ asset('images/original/' ~ article.cuissons.0.image.fichierNom ) }}" class="info-triangle" alt="">
										{% endif %}
									</div>
								</div>
							</div>
							<!-- FIN : 1 article -->
							{% endfor %}
						</div>
						<!--/div images tab 1-->
						<div class="item">
							<!--images for tab 2-->
							<!--div images for tab 1-->
							{% for article in articles %}
							<!-- DEBUT : 1 article -->
							<div class="col-sm-6 col-md-3">
								<!--div image 1 tab 1-->
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo">
											<img src="{{ asset('images/original/' ~ article.imagePpale.fichierNom ) }}" alt="" />
											<div class="product-bottom">
												<div class="btn-group order-group for-product" role="group">
													<h2>{{ prix(article)|raw }}</h2>
													<button type="button" class="btn btn-default btn-commander"><i class="fa fa-shopping-cart fa-flip-horizontal"></i></button>
													<input class="command_quantity" type="text" name="quantity" value="150g" autocomplete="off" size="10">
													<span class="btn-quantity">
														<a class="btn quantity-top" href="#"><i class="fa fa-angle-up"></i></a>
														<a class="btn quantity-bottom" href="#"><i class="fa fa-angle-down"></i></a>
													</span>
												</div>
											</div>
										</div>
										<p class="tab-name-product">{{ article.nom }}</p>
										<p class="tab-info-category">veau</p>
										{% if article.cuissons|length > 0 %}
										<img src="{{ asset('images/original/' ~ article.cuissons.0.image.fichierNom ) }}" class="info-triangle" alt="">
										{% endif %}
									</div>
								</div>
							</div>
							<!-- FIN : 1 article -->
							{% endfor %}
							<!--/div image 3 tab 2-->
						</div>
						<!--/div images for tab 2-->
						<div class="item">
							<!--div images for tab 3-->
							<!--div images for tab 1-->
							{% for article in articles %}
							<!-- DEBUT : 1 article -->
							<div class="col-sm-6 col-md-3">
								<!--div image 1 tab 1-->
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo">
											<img src="{{ asset('images/original/' ~ article.imagePpale.fichierNom ) }}" alt="" />
											<div class="product-bottom">
												<div class="btn-group order-group for-product" role="group">
													<h2>{{ prix(article)|raw }}</h2>
													<button type="button" class="btn btn-default btn-commander"><i class="fa fa-shopping-cart fa-flip-horizontal"></i></button>
													<input class="command_quantity" type="text" name="quantity" value="150g" autocomplete="off" size="10">
													<span class="btn-quantity">
														<a class="btn quantity-top" href="#"><i class="fa fa-angle-up"></i></a>
														<a class="btn quantity-bottom" href="#"><i class="fa fa-angle-down"></i></a>
													</span>
												</div>
											</div>
										</div>
										<p class="tab-name-product">{{ article.nom }}</p>
										<p class="tab-info-category">veau</p>
										{% if article.cuissons|length > 0 %}
										<img src="{{ asset('images/original/' ~ article.cuissons.0.image.fichierNom ) }}" class="info-triangle" alt="">
										{% endif %}
									</div>
								</div>
							</div>
							<!-- FIN : 1 article -->
							{% endfor %}
							<!--/div image 1 tab 3-->
						</div>
						<!--/div images for tab 3-->
					</div>
<!-- 					<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a> -->
				</div>
			</div>
			<!--/category-tab-->
		</div>
		<!--/cols-sm-12-->
	</div>
	<!--/row-->
	<!--/container-->
</section>
#}

