{% macro entiteButtons(entite, actions, type) %}
	{% import _self as self %}
	<div class="btn-group">
	{% for action in actions %}
		{{ self.entiteButton(entite, action, type) }}
	{% endfor %}
	</div>
{% endmacro %}

{% macro entiteButton(entite, action, type) %}
	{% import _self as self %}
	{% if action == "show" %}
		<a href="{{ self.entiteLink(entite, action, type) }}" type="button" class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="bottom" title="{{ UCfirst('moredetails'|trans({'%name%': entite.nom}, entite.className)) }}"><i class="fa fa-eye icon-wait-on-click"></i></a>
	{% endif %}
	{% if action == "edit" %}
		<a href="{{ self.entiteLink(entite, action, type) }}" type="button" class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="bottom" title="{{ UCfirst('actions.modifier'|trans) }}"><i class="fa fa-pencil icon-wait-on-click"></i></a>
	{% endif %}
	{% if action == "delete" %}
		<a href="{{ self.entiteLink(entite, action, type) }}" type="button" class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="bottom" title="{{ UCfirst('actions.supprimer'|trans) }}"><i class="fa fa-times icon-wait-on-click"></i></a>
	{% endif %}
	{% if action == "default" and entite.default is defined %}
		{% set defcol = 'white' %}
		{% if entite.default %}{% set defcol = 'primary' %}{% endif %}
		<a href="{{ self.entiteLink(entite, action, type) }}" type="button" class="btn btn-{{ defcol }} btn-xs" data-toggle="tooltip" data-placement="bottom" title="{{ 'bydefault'|trans({}, entite.className) }}"><i class="fa fa-check icon-wait-on-click"></i></a>
	{% endif %}
	{% if action == "active" and entite.statut.nom|default('Actif') != 'Actif' %}
		<a href="{{ self.entiteLink(entite, action, type) }}" type="button" class="btn btn-danger btn-xs" title="{{ UCfirst('actions.activer'|trans) }}"><i class="fa fa-star icon-wait-on-click"></i></a>
	{% endif %}
{% endmacro %}

{% macro entiteLink(entite, action, type) -%}
	{%- if action in ['show','edit','delete', 'active'] -%}
		{%- if type.type_values|default(null) != null -%}
			{{- path('siteadmin_entite_type', {entite: entite.className, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: action}) -}}
		{%- else -%}
			{{- path('siteadmin_entite', {entite: entite.className, id: entite.id, action: action}) -}}
		{%- endif -%}
	{%- endif -%}
	{%- if action in ['default'] -%}
		{{- path('siteadmin_set_default', {id: entite.id, entite: entite.className, redir: path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|url_encode()}) -}}
	{%- endif -%}
{%- endmacro %}
