{% macro entiteButtons(entite, actions, type, type_value_joiner) %}
	{% import _self as self %}
	<div class="btn-group">
	{% for action in actions %}
		{{ self.entiteButton(entite, action, type) }}
	{% endfor %}
	</div>
{% endmacro %}

{% macro entiteButton(entite, action, type, type_value_joiner) %}
	{% import _self as self %}
	{% if action == "show" %}
		<a href="{{ self.entiteLink(entite, action, type) }}" type="button" class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="bottom" title="{{ UCfirst('moredetails'|trans({'%name%': entite.nom}, entite.className)) }}"><i class="fa fa-eye icon-wait-on-click"></i></a>
	{% endif %}
	{% if action == "edit" %}
		<a href="{{ self.entiteLink(entite, action, type) }}" type="button" class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="bottom" title="{{ UCfirst('actions.modifier'|trans) }}"><i class="fa fa-pencil icon-wait-on-click"></i></a>
	{% endif %}
	{% if (action == "delete" and ((entite.deletable|default(true) == true) or (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')))) %}
		<a href="{{ self.entiteLink(entite, action, type) }}" type="button" class="btn btn-white btn-xs need-confirmation" data-toggle="tooltip" data-placement="bottom" title="{{ UCfirst('actions.supprimer'|trans) }}" data-title="{{ UCfirst('actions.supprimer'|trans) }}" data-message="{{ UCfirst('actions.suppQuestion'|trans({'%name%': entite.nom|trans({}, entite.className)})) }}"><i class="fa fa-times icon-wait-on-click"></i></a>
	{% endif %}
	{% if action == "default" and entite.default is defined and (entite.statut.niveau|default('IS_AUTHENTICATED_ANONYMOUSLY') in ['IS_AUTHENTICATED_ANONYMOUSLY', 'ROLE_USER']) %}
		{% set defcol = 'white' %}
		{% set disabled = '' %}
		{% if entite.default %}
			{% set defcol = 'primary' %}
			{% if entite.isDefaultNullable|default(false) == false %}{% set disabled = ' disabled="disabled"' %}{% endif %}
		{% endif %}
		<a href="{{ self.entiteLink(entite, action, type) }}"{{ disabled|raw }} type="button" class="btn btn-{{ defcol }} btn-xs" data-toggle="tooltip" data-placement="bottom" title="{{ 'bydefault'|trans({}, entite.className) }}"><i class="fa fa-star icon-wait-on-click"></i></a>
	{% endif %}
	{% if (action == "active" and (entite.statut.slug|default('actif') != 'actif') and (entite.deletable|default(true) == true or (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')))) %}
		<a href="{{ self.entiteLink(entite, action, type) }}" type="button" class="btn btn-white btn-xs" title="{{ UCfirst('actions.activer'|trans) }}"><i class="fa fa-check icon-wait-on-click"></i></a>
	{% endif %}
{% endmacro %}

{% macro entiteLink(entite, action, type, type_value_joiner) -%}
	{%- if action in ['show','edit','delete', 'active'] -%}
		{%- if type.type_values|default(null) != null -%}
			{{- path('siteadmin_entite_type', {entite: entite.className, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: action}) -}}
		{%- else -%}
			{{- path('siteadmin_entite', {entite: entite.className, id: entite.id, action: action}) -}}
		{%- endif -%}
	{%- endif -%}
	{%- if action in ['default'] -%}
		{{- path('siteadmin_set_default', {id: entite.id, entite: entite.className, redir: path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|url_encode()}) -}}
	{%- endif -%}
{%- endmacro %}

{% macro colorDot(color, size) -%}
<span class="fa-stack fa-lg fa-{{ size|default('2x') }}">
	<i class="fa fa-circle fa-stack-{{ size|default('2x') }}" style="color:{{ color|raw }};"></i>
	<i class="fa fa-circle-o fa-stack-{{ size|default('2x') }}"></i>
</span>
{%- endmacro %}

{% macro colorDot2(color, size) -%}
<i class="fa fa-square fa-{{ size|default('3x') }}" style="padding: 0px 2px; border: solid 2px #bbb; border-radius: 9px; color:{{ color|raw }};"></i>
{%- endmacro %}



{%- macro icon(item) %}
	{{ item.icon|default(('entite.' ~ item.className|default('unknown'))|trans({}, 'icon')) }}
{%- endmacro %}


{%- macro labelList(list, highlight, classe, limit) %}
	{% import _self as self %}
	{% set limit = limit|default(0) %}
	{% set classe = classe|default('label-primary') %}
	{% for item in list|default([]) %}
		{% if loop.index0 < limit or limit == 0 %}
		<span class="label m-r-xs m-b-xs inline{% if item in highlight|default([]) %} {{ classe|raw }}{% endif %}" style="display: height: 20px; line-height: 15px;"><i class="fa {{ self.icon(item) }} m-r-xs"></i>{{ item|trans({}, item.className) }}</span>
		{% elseif loop.index0 == limit %}
		<p>…</p>
		{% endif %}
	{% endfor %}
{%- endmacro %}

{%- macro labelLinkList(list, highlight, classe, type, type_value_joiner, action, limit) %}
	{% import _self as self %}
	{% set limit = limit|default(0) %}
	{% set classe = classe|default('label-primary') %}
	{% set action = action|default('show') %}
	{% for item in list|default([]) %}
		{% if loop.index0 < limit or limit == 0 %}
		<a href="{{ self.entiteLink(item, action, type, type_value_joiner) }}" class="label inline{% if item in highlight|default([]) %} {{ classe|raw }}{% endif %} m-b-xs" style="display: height: 20px; line-height: 15px;"><i class="fa {{ self.icon(item) }} m-r-xs"></i>{{ item|trans({}, item.className) }}</a>
		{% elseif loop.index0 == limit %}
		<p>…</p>
		{% endif %}
	{% endfor %}
{%- endmacro %}

