{% extends 'siteadminBundle:entites:entiteList.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% import 'siteadminBundle:blocks:sortable_nested_categories.html.twig' as nestcat %}

{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
	{{ parent() }}
{% endblock page_heading %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				{% if entites|length > 0 %}
				<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							{% if DEVMODE %}<th class="text-center">{{ UCfirst('fields.id'|trans({}, entite_name)) }}</th>{% endif %}
							<th>{{ UCfirst('fields.nom'|trans({}, entite_name)) }}</th>
							<th class="text-center" style="width:1%;">{{ UCfirst('fields.image'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('actions.name'|trans) }}</th>
							<th class="text-center">{{ UCfirst('fields.couleur'|trans({}, entite_name)) }}</th>
							{# <th>{{ UCfirst('fields.descriptif'|trans({}, entite_name)) }}</th> #}
							<th>{{ UCfirst('fields.accepts'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.parents'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.children'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.elements'|trans({}, entite_name)) }}</th>
						</tr>
					</thead>
					<tbody>
						{% for entite in entites %}
						{% set bgcolor = ' style="background-color:' ~ entite.statut.couleur|default('transparent') ~ ';"' %}
						<tr>
							{% if DEVMODE %}<td{{ bgcolor|raw }} class="text-center">{{ entite.id }}</td>{% endif %}
							<td{{ bgcolor|raw }}>
								{% if type.type_values|default(null) != null %}
								<a href="{{ path('siteadmin_entite_type', {entite: entite.className, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'show'}) }}" title="{{ (entite.className ~ '.moredetails')|trans({'%name%': entite.nom}) }}"><strong>{{ entite.nom }}</strong></a>
								{% else %}
								<a href="{{ path('siteadmin_entite', {entite: entite.className, id: entite.id, action: 'show'}) }}" title="{{ (entite.className ~ '.moredetails')|trans({'%name%': entite.nom}) }}"><strong>{{ entite.nom }}</strong></a>
								{% endif %}
							</td>
							<td class="text-center"{{ bgcolor|raw }}>
								{% if entite.image|default(null) != null %}
								<a href="{{ path('siteadmin_entite', {entite: entite.image.className, id: entite.image.id, action: 'show'}) }}" class="docs-tooltip" data-toggle="tooltip" title="{{ UCfirst('moredetails'|trans({'%name%': entite.image.nom}, entite.className)) }}">
									<img src="{{ entite.image.imgThumbnail(64, 64, 'cut')|raw }}" class="img-responsive img-thumbnail">
								</a>
								{% else %}
								<i class="fa fa-ban fa-3x text-muted fa-border"></i>
								{% endif %}
							</td>
							<td{{ bgcolor|raw }}>
								{{ actions.entiteButtons(entite, ['show','edit','delete','default'], type) }}

								{# - OFF ----------------------
								{% if DEVMODE %}
								<hr class="m-b-xs m-t-xs">
								<div class="btn-group">
									{% if type.type_values|default(null) != null %}
									<a href="{{ path('siteadmin_entite_type', {entite: entite.className, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'check'}) }}" type="button" class="btn btn-danger btn-xs" title="Checker article {{ entite.nom }}"><i class="fa fa-check"></i></a>
									{% else %}
									<a href="{{ path('siteadmin_entite', {entite: entite.className, id: entite.id, action: 'check'}) }}" type="button" class="btn btn-danger btn-xs" title="Checker article {{ entite.nom }}"><i class="fa fa-check"></i></a>
									{% endif %}
								</div>
								{% endif %}
								- OFF ---------------------- #}
							</td>
							<td{{ bgcolor|raw }} class="text-center">
								{{ actions.colorDot(entite.couleur) }}
							</td>
							{# <td{{ bgcolor|raw }}>{{ entite.descriptif|raw }}</td> #}
							<td{{ bgcolor|raw }}>{{ entite.accepts|join('<br>')|raw }}</td>
							<td{{ bgcolor|raw }}>{{ entite.parents|join('<br>')|raw }}</td>
							<td{{ bgcolor|raw }}>{{ entite.children|join('<br>')|raw }}</td>
							<td{{ bgcolor|raw }}>{{ entite.subEntitys|join('<br>')|raw }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<h3><i class="fa fa-ban"></i> {{ UCfirst('not_found'|trans({}, entite_name)) }}</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				{% if entites|length > 0 %}
					{% for entite in entites if(entite.parent == null) %}
					{% if not loop.first %}<hr>{% endif %}
					{{ nestcat.nestedtree('jstree' ~ loop.index, entite, 'open') }}
					{% endfor %}
				{% else %}
					<h3><i class="fa fa-ban"></i> {{ UCfirst('not_found'|trans({}, entite_name)) }}</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block end_javascripts %}
{% for entite in entites if(entite.parent == null) %}
{{ nestcat.nestedtreeJavascript('jstree' ~ loop.index) }}
{% endfor %}
{% endblock end_javascripts %}


