<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}ADMINISTRATION WEBSITE{% endblock title %}</title>
		{% block stylesheets %}
		{% stylesheets filter='cssrewrite, lessphp, ?yui_css'
		'bundles/siteadmin/framework_inspinia/css/bootstrap.css'
		'bundles/siteadmin/framework_inspinia/font-awesome/css/font-awesome.css'
		'bundles/siteadmin/framework_inspinia/css/animate.css'

		'bundles/siteadmin/framework_inspinia/css/plugins/toastr/toastr.min.css'
		'bundles/siteadmin/framework_inspinia/bootstrap-colorpicker-master/dist/css/bootstrap-colorpicker.css'
		'bundles/siteadmin/framework_inspinia/select2-4.0.2/dist/css/select2.min.css'
		'bundles/siteadmin/framework_inspinia/css/plugins/summernote/summernote.css'
		'bundles/siteadmin/framework_inspinia/css/plugins/summernote/summernote-bs3.css'
		'bundles/siteadmin/framework_inspinia/css/plugins/datapicker/datepicker3.css'
		'bundles/siteadmin/framework_inspinia/css/plugins/jasny/jasny-bootstrap.min.css'
		'bundles/siteadmin/framework_inspinia/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'
		'bundles/siteadmin/css/switchery_mini.css'

		'bundles/siteadmin/css/style.less'
		'bundles/siteadmin/framework_inspinia/css/style.less'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
		{% endblock stylesheets %}
		<!-- Favicone Icon -->
		{% block favicon %}
		{% if sitedata is defined %}
		{% if sitedata.favicon|default(null) != null %}
		<link rel="shortcut icon" type="image/x-icon" href="{{ sitedata.favicon.img }}">
		<link rel="icon" type="image/png" href="{{ sitedata.favicon.img }}">
		<link rel="apple-touch-icon" href="{{ sitedata.favicon.img }}">
		{% else %}
		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
		<link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
		<link rel="apple-touch-icon" href="{{ asset('favicon.png') }}">
		{% endif %}
		{% else %}
		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
		<link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
		<link rel="apple-touch-icon" href="{{ asset('favicon.png') }}">
		{% endif %}
		{% endblock favicon %}
	</head>
	{% set bodyclass = (bodyclass|default([]))|merge([app.user.admintheme|default('skin-0')]) %}
	<body{% block bodyattr %} class="{{ bodyclass|join(' ') }}"{% endblock bodyattr %}>
		<span class="sqblock-wrapper" style="display:none;">
			{% block SQBlock %}
			{% endblock SQBlock %}
		</span>
		<div id="wrapper">
			{% block body %}
			{% endblock body %}
		</div>
		{% block hiddendata %}
			{{ include('siteadminBundle:blocks:hidden-data.html.twig') }}
		{% endblock hiddendata %}
		{% block javascripts %}
		{% javascripts filter='?yui_js'
		'bundles/siteadmin/framework_inspinia/js/jquery-2.1.1.js'
		'bundles/siteadmin/framework_inspinia/js/plugins/metisMenu/jquery.metisMenu.js'
		'bundles/siteadmin/framework_inspinia/js/plugins/slimscroll/jquery.slimscroll.js'
		'bundles/siteadmin/framework_inspinia/js/inspinia.js'
		'bundles/siteadmin/framework_inspinia/js/plugins/pace/pace.min.js'
		'bundles/siteadmin/framework_inspinia/js/plugins/jquery-ui/jquery-ui.js'
		'bundles/siteadmin/init/init-tooltips-compatibility.js'
		
		'bundles/siteadmin/framework_inspinia/js/bootstrap.js'
		'bundles/siteadmin/framework_inspinia/js/plugins/toastr/toastr.min.js'
		'bundles/siteadmin/framework_inspinia/select2-4.0.2/dist/js/select2.full.min.js'
		'bundles/siteadmin/framework_inspinia/select2-sortable/select2.sortable.js'
		'bundles/siteadmin/framework_inspinia/bootstrap-colorpicker-master/dist/js/bootstrap-colorpicker.js'
		'bundles/siteadmin/framework_inspinia/js/plugins/summernote/summernote.js'
		'bundles/siteadmin/framework_inspinia/js/plugins/datapicker/bootstrap-datepicker.js'
		'bundles/siteadmin/framework_inspinia/js/plugins/jasny/jasny-bootstrap.min.js'
		'bundles/siteadmin/framework_inspinia/js/plugins/nestable/jquery.nestable.js'
		'bundles/siteadmin/framework_inspinia/js/plugins/switchery/switchery.js'

		'bundles/siteadmin/js/inspinia-help.js'
		'bundles/siteadmin/js/inspinia-data-messages.js'
		'bundles/sitetranslate/js/inspinia-languages.js'
		'bundles/siteadmin/js/inspinia-modales.js'
		'bundles/siteadmin/js/inspinia-effects.js'
		'bundles/siteadmin/js/inspinia-icon-wait.js'
		'bundles/siteadmin/js/aew-sub-query-blocks.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% endblock javascripts %}
		<script src="{{ asset('bundles/siteadmin/framework_inspinia/select2-4.0.2/dist/js/i18n/' ~ app.request.locale|lower ~ '.js') }}"></script>
		<script type="text/javascript">
		jQuery(document).ready(function($) {
			{% block end_javascripts %}
			{% endblock end_javascripts %}
		});
		</script>
	</body>
</html>

{# select2 sortable : https://github.com/vafour/select2-sortable #}

{# --> compatibilité jquery et color-picker/summernote
		'bundles/siteadmin/framework_inspinia/css/plugins/iCheck/custom.css'

		'bundles/siteadmin/framework_inspinia/js/plugins/iCheck/icheck.min.js'

#}