{% extends 'siteadminBundle:entites:entiteShow.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% import 'siteadminBundle:blocks:itemBloc.html.twig' as itemBloc %}
{% import 'siteadminBundle:blocks:sortable_nested_categories.html.twig' as nestcat %}

{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% set style = '' %}
{% set style = ' style="min-height: 200px; height:auto !important; height: 200px;"' %}

{% block breadcrumb %}
	<ol class="breadcrumb ellipsis col-md-9">
		<li><a href="{{ path('siteadmin_homepage') }}"><strong>{{ UCfirst('administration'|trans) }}</strong></a></li>
		<li><a href="{{ path('siteadmin_repo_categorie', {method: 'findRoots'}) }}"><strong>{{ UCfirst('name_s'|trans({}, entite_name)) }}</strong></a></li>
		<li><a href="{{ path('siteadmin_repo_categorie', {method: 'findCollectionsByType', repoParams: entite.type}) }}"><strong>Types {{ UCfirst(('types.' ~ entite.type)|trans({}, entite.className)) }}</strong></a></li>
		{% for parent in entite.parents %}
			<li><a href="{{ actions.entiteLink(parent, 'show', type, type_value_joiner) }}"><strong>{{ parent.nom|trans({}, parent.className) }}</strong></a></li>
		{% endfor %}
		<li>{{ entite.nom|default('#' ~ entite.id)|trans({}, entite.className) }}</li>
	</ol>
{% endblock breadcrumb %}

{% block buttons %}
	<a href="{{ path('siteadmin_create_categorie', {rootParent: entite.id}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-plus icon-wait-on-click m-r-sm"></i>{{ UCfirst('create_btn_child'|trans({'%name%': entite.nom}, entite.className)) }}</a>
{% endblock buttons %}

{% block content %}
<div class="row">

	<!-- <div class="col-md-12"> -->
		<!-- <h2 class="row"> -->
			<!-- <div class="col-md-8 ellipsis">{{ actions.colorDot(entite.couleur, '1x') }} <i class="fa {{ actions.icon(entite) }} m-r-xs"></i>{{ entite.nom|trans({}, entite.className) }}</div> -->
			<!-- <div class="col-md-4"> -->
				<!-- <a href="{{ path('siteadmin_entite', {entite: entite.className, id: entite.id, action: 'delete'}) }}" type="button" class="btn btn-xs btn-danger btn-outline pull-right need-confirmation" title="{{ UCfirst('actions.suppression'|trans) }}" data-message="{{ 'actions.suppQuestion'|trans({'%name%': entite.nom}) }}"><i class="fa fa-times icon-wait-on-click"></i> {{ 'actions.supprimer'|trans }}</a> -->
				<!-- <a href="{{ path('siteadmin_entite', {entite: entite.className, id: entite.id, action: 'edit'}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-pencil icon-wait-on-click"></i> {{ UCfirst('actions.modifier'|trans) }}</a> -->
			<!-- </div> -->
		<!-- </h2> -->
		<!-- <hr class="m-t-none m-b-xs"> -->
	<!-- </div> -->

	<div class="col-md-6">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab-0"><i class="fa fa-cog visible-xs"></i><span class="hidden-xs">{{ UCfirst('fields.technique'|trans({}, entite.className)) }}</span></a></li>
						<li><a data-toggle="tab" href="#tab-1"><i class="fa fa-sitemap visible-xs"></i><span class="hidden-xs">{{ UCfirst('fields.children'|trans({}, entite.className)) }}</span></a></li>
						<li><a data-toggle="tab" href="#tab-2"><i class="fa fa-sitemap visible-xs"></i><span class="hidden-xs">{{ UCfirst('fields.parents'|trans({}, entite.className)) }}</span></a></li>
						<li><a data-toggle="tab" href="#tab-3"><i class="fa fa-file-o visible-xs"></i><span class="hidden-xs">{{ UCfirst('fields.subEntitys'|trans({}, entite.className)) }}</span></a></li>
						<!-- <li><a data-toggle="tab" href="#tab-4"><i class="fa fa-picture-o visible-xs"></i><span class="hidden-xs">{{ UCfirst('fields.image'|trans({}, entite.className)) }}</span></a></li> -->
					</ul>
					<div class="tab-content">

						<div id="tab-0" class="tab-pane active">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy visible-xs m-t-none'>{{ UCfirst('fields.technique'|trans({}, entite.className)) }}</h3>
								<hr class="m-t-xs m-b-xs visible-xs">
								<div class="row">
									<div class="col-xs-12">
										<p class="m-b-xs">{{ UCfirst('fields.icon'|trans({}, entite.className)) }} : <i class="fa {{ actions.icon(entite) }}"></i>{% if entite.icon == null %} <i class="text-muted"><em>({{ 'icons.default_icon'|trans }})</em></i>{% endif %}</p>
										<p class="m-b-xs">{{ UCfirst('fields.couleur'|trans({}, entite.className)) }} : {{ actions.colorDot(entite.couleur, '1x') }}</p>
										<p class="m-b-xs">
											Type {{ ('types.' ~ entite.type)|trans({}, entite.className) }}
											<p class="m-l-lg text-muted"><i>• {{ entite.accepts|join('<br>• ')|raw }}</i></p>
										</p>
									</div>
								</div>
							</div>
						</div>

						<div id="tab-1" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy visible-xs m-t-none'>{{ UCfirst('fields.children'|trans({}, entite.className)) }}</h3>
								<hr class="m-t-xs m-b-xs visible-xs">
								<div class="row">
									<div class="col-xs-12">
										{% if entite.allCategorieChilds|length > 0 %}
										{{ actions.labelLinkList(entite.allCategorieChilds, entite.categorieChilds, null, type, type_value_joiner, 'show') }}
										{% else %}
										<h6><i class='text-muted'>{{ UCfirst('noChildren'|trans({}, entite.className)) }}</i></h6>
										{% endif %}
									</div>
								</div>
							</div>
						</div>

						<div id="tab-2" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy visible-xs m-t-none'>{{ UCfirst('fields.parents'|trans({}, entite.className)) }}</h3>
								<hr class="m-t-xs m-b-xs visible-xs">
								<div class="row">
									<div class="col-xs-12">
										{% if entite.parents_inverse != null %}
										{{ actions.labelLinkList(entite.parents, entite.parent, null, null, null, 'show') }}
										{% else %}
										<h6><i class='text-muted'>{{ UCfirst('noParent'|trans({}, entite.className)) }}</i></h4>
										{% endif %}
									</div>
								</div>
							</div>
						</div>

						<div id="tab-3" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy visible-xs m-t-none'>{{ UCfirst('fields.subEntitys'|trans({}, entite.className)) }}</h3>
								<hr class="m-t-xs m-b-xs visible-xs">
								<div class="row">
									<div class="col-xs-12">
										<h4>Éléments {% if entite.group_nestedsChilds|length > 1 %} <i class="fa fa-unsorted text-muted"></i>{% endif %}</h4>
										{% if entite.group_nestedsChilds|length > 0 %}
										<span id="nesteds" class="{% if entite.group_nestedsChilds|length > 1 %}sortlist{% endif %}" data-parent="categorie_{{ entite.id }}" data-group="nesteds" data-url="{{ path('ajax_data_sort') }}">
										{{ actions.labelLinkList(entite.group_nestedsChilds, [entite.nestedFirstChild("nesteds")], null, type, type_value_joiner, 'show') }}
										{% endif %}
									</div>
								</div>
							</div>
						</div>

<!-- 						<div id="tab-4" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy visible-xs m-t-none'>{{ UCfirst('fields.image'|trans({}, entite.className)) }}</h3>
								<hr class="m-t-xs m-b-xs visible-xs">
								<div class="row">
									<div class="col-xs-12">
										{% if entite.mainMedia|default(null) != null %}
										<img src="{{ entite.mainMedia.img }}" class="img-responsive center-block img-rounded">
										{% else %}
										<i class="fa fa-ban fa-5x text-muted fa-border"></i>
										{% endif %}
									</div>
								</div>
							</div>
						</div> -->

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab-0"><i class="fa fa-folder visible-xs"></i><span class="hidden-xs">Arborescence</span></a></li>
					</ul>
					<div class="tab-content">

						<div id="tab-0" class="tab-pane active">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy visible-xs m-t-none'>Arborescence</h3>
								<hr class="m-t-xs m-b-xs visible-xs">
								<div class="row">
									<div class="col-xs-12">
										{# <div id="jsajx-{{ entite.id }}" class="jstree-ajax" jstree-plugins="" jstree-types='{{ entite.accepts|json_encode() }}' jstree-groups="{{ ['nesteds', 'categorie_parent', 'pagewebs']|json_encode }}"></div> #}
										<div id="jsajx-{{ entite.id }}" class="jstree-ajax" jstree-plugins="" jstree-types='{{ entite.accepts|json_encode() }}'></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock content %}

{% block end_javascripts %}
{{ parent() }}
{{ nestcat.nestedtreeAjax() }}
{% endblock end_javascripts %}


