{% extends 'siteadminBundle:entites:entiteShow.html.twig' %}
{% import 'siteadminBundle:blocks:itemBloc.html.twig' as itemBloc %}
{% import 'siteadminBundle:blocks:sortable_nested_categories.html.twig' as nestcat %}

{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% set style = '' %}
{% set style = ' style="min-height: 200px; height:auto !important; height: 200px;"' %}

{% block page_heading %}
	{{ parent() }}
{% endblock page_heading %}

{% block content %}
<div class="row">

	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2 class="row">
					<div class="col-md-8 ellipsis">{{ entite.nom }}</div>
					<div class="col-md-4">
						<!-- <a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'delete'}) }}" type="button" class="btn btn-xs btn-danger btn-outline pull-right need-confirmation" title="{{ UCfirst('actions.suppression'|trans) }}" data-message="{{ 'actions.suppQuestion'|trans({'%name%': entite.nom}) }}"><i class="fa fa-times icon-wait-on-click"></i> {{ 'actions.supprimer'|trans }}</a> -->
						<!-- <a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'edit'}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-pencil icon-wait-on-click"></i> {{ UCfirst('actions.modifier'|trans) }}</a> -->
					</div>
				</h2>
				<hr class="m-t-none m-b-xs">
				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-sitemap visible-xs"></i><span class="hidden-xs">{{ UCfirst('fields.parents'|trans({}, 'categorie')) }}</span></a></li>
						<li><a data-toggle="tab" href="#tab-2"><i class="fa fa-sitemap visible-xs"></i><span class="hidden-xs">{{ UCfirst('fields.children'|trans({}, 'categorie')) }}</span></a></li>
						<li><a data-toggle="tab" href="#tab-3"><i class="fa fa-file-o visible-xs"></i><span class="hidden-xs">{{ UCfirst('fields.subEntitys'|trans({}, 'categorie')) }}</span></a></li>
						<li><a data-toggle="tab" href="#tab-4"><i class="fa fa-picture-o visible-xs"></i><span class="hidden-xs">{{ UCfirst('fields.image'|trans({}, 'categorie')) }}</span></a></li>
					</ul>
					<div class="tab-content">

						<div id="tab-1" class="tab-pane active">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy visible-xs m-t-none'>{{ UCfirst('fields.parents'|trans({}, 'categorie')) }}</h3>
								<hr class="m-t-xs m-b-xs visible-xs">
								<div class="row">
									<div class="col-xs-12">
										{% if entite.parent != null %}
										<!-- <h4>{{ entite.parent }}</h4> -->
										{% for item in entite.parents %}
										<label class="label{% if item == entite.parent %} label-primary{% endif %} m-b-xs" style="display: inline-block; height: 20px; line-height: 15px;">{{ item }}</label>
										{% endfor %}
										{% else %}
										<h4><i class='text-muted'>Aucun parent</i></h4>
										{% endif %}
									</div>
								</div>
							</div>
						</div>

						<div id="tab-2" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy visible-xs m-t-none'>{{ UCfirst('fields.children'|trans({}, 'categorie')) }}</h3>
								<hr class="m-t-xs m-b-xs visible-xs">
								<div class="row">
									<div class="col-xs-12">
										{% for item in entite.allChildren %}
										<label class="label{% if item in entite.children %} label-primary{% endif %} m-b-xs" style="display: inline-block; height: 20px; line-height: 15px;">{{ item }}</label>
										{% endfor %}
										<hr>
										<h3>{{ entite.nom }}</h3>
										{{ nestcat.nestedlist(entite) }}
									</div>
								</div>
							</div>
						</div>

						<div id="tab-3" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy visible-xs m-t-none'>{{ UCfirst('fields.subEntitys'|trans({}, 'categorie')) }}</h3>
								<hr class="m-t-xs m-b-xs visible-xs">
								<div class="row">
									<div class="col-xs-12">
										{% for item in entite.subEntitys %}{{ itemBloc.bloc1(item) }}{% endfor %}
									</div>
								</div>
							</div>
						</div>

						<div id="tab-4" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy visible-xs m-t-none'>{{ UCfirst('fields.image'|trans({}, 'categorie')) }}</h3>
								<hr class="m-t-xs m-b-xs visible-xs">
								<div class="row">
									<div class="col-xs-12">
										{{ itemBloc.bloc1(entite) }}
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
