{% extends 'LaboAdminBundle:Default:index.html.twig' %}

{% block content %}

<div class="row">
	<div class="col-md-3 col-sm-6 animated bounceIn" style="animation-delay: 0s;">
		<a href="{{ path('siteadmin_entite', {entite: 'facture'}) }}">
			<div class="widget style1 {{ nbcommandes|default(0) > 0 ? 'red-bg' : 'navy-bg' }}">
				<div class="row">
					<div class="col-xs-4 text-center">
						<i class="fa fa-shopping-cart fa-flip-horizontal fa-fw fa-4x"></i>
					</div>
					<div class="col-xs-8 text-center">
						<span>Commandes</span>
						<h2 class="font-bold text-center">{{ factures|length }}</h2>
					</div>
				</div>
			</div>
		</a>
	</div>
	{% if messages|length > 0 %}
		{% if fromNow(messages.0.creation, 'heures') <= 24 %}{% set color = 'red-bg' %}{% endif %}
	{% endif %}
	<div class="col-md-3 col-sm-6 animated bounceIn" style="animation-delay: 0.6s;">
		<a href="{{ path('siteadmin_entite', {entite: 'message'}) }}">
			<div class="widget style1 {{ color|default('navy-bg') }}">
				<div class="row">
					<div class="col-xs-4 text-center">
						<i class="fa fa-envelope fa-fw fa-4x"></i>
					</div>
					<div class="col-xs-8 text-center">
						<span>Nouv. messages</span>
						<h2 class="font-bold text-center">{{ nbmessages }}</h2>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>

<hr class="m-t-md m-b-sm">

{{ parent() }}

{#

<div class="row">

	{% if marketplace.active == true %}
	<div class="col-sm-12 col-md-6">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h3 class="ellipsis"><i class="fa fa-clock-o m-r-xs"></i>Boutique et articles</h3>
				<hr class="m-t-sm m-b-md">
				<div class="row">

					{% for boutique in app.session.get('sitedata').boutiques|default([]) %}
					<div class="col-sm-6">
						<a href="{{ path('siteadmin_entite', {entite: 'boutique', id: boutique.id, action: 'show'}) }}" class="btn btn-primary btn-sm full-width ellipsis">
							<i class="fa {{ ('entite.boutique')|trans({}, 'icon') }} fa-2x pull-left"></i><span class="m-t-xs pull-right">{{ UCfirst('actions.voir'|trans) }} {{ boutique.nom }}</span>
						</a>
					</div>
					<div class="col-sm-6">
						<a href="{{ path('siteadmin_calendar_viewer', {itemSlug: boutique.slug, class: 'boutique'}) }}" class="btn btn-info btn-sm full-width ellipsis">
							<i class="fa {{ ('entite.boutique')|trans({}, 'icon') }} fa-2x pull-left"></i><span class="m-t-xs pull-right">Agenda {{ boutique.nom }}</span>
						</a>
					</div>
					{% endfor %}

				</div>
				<div class="row">

					<div class="col-sm-6">
						<a href="{{ path('siteadmin_entite', {entite: 'article', action:'list'}) }}" class="btn btn-primary btn-sm full-width ellipsis">
							<i class="fa {{ ('entite.article')|trans({}, 'icon') }} fa-2x pull-left"></i><span class="m-t-xs pull-right">{{ UCfirst('actions.voir'|trans) }} {{ UCfirst(('name_s')|trans({}, 'article')) }}</span>
						</a>
					</div>

				</div>

			</div>
		</div>
	</div>
	{% endif %}

	<div class="col-sm-12 col-md-6">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h3 class="ellipsis"><i class="fa fa-clock-o m-r-xs"></i>Utilisateurs</h3>
				<hr class="m-t-sm m-b-md">
				<div class="row">

					{% for boutique in app.session.get('sitedata').boutiques|default([]) %}
					<div class="col-sm-6">
						<a href="{{ path('siteadmin_entite', {entite: 'boutique', id: boutique.id, action: 'show'}) }}" class="btn btn-primary btn-sm full-width ellipsis">
							<i class="fa {{ ('entite.boutique')|trans({}, 'icon') }} fa-2x pull-left"></i><span class="m-t-xs pull-right">{{ UCfirst('actions.voir'|trans) }} {{ boutique.nom }}</span>
						</a>
					</div>
					<div class="col-sm-6">
						<a href="{{ path('siteadmin_calendar_viewer', {itemSlug: boutique.slug, class: 'boutique'}) }}" class="btn btn-info btn-sm full-width ellipsis">
							<i class="fa {{ ('entite.boutique')|trans({}, 'icon') }} fa-2x pull-left"></i><span class="m-t-xs pull-right">Agenda {{ boutique.nom }}</span>
						</a>
					</div>
					{% endfor %}

				</div>
				<div class="row">

					<div class="col-sm-6">
						<a href="{{ path('siteadmin_entite', {entite: 'article', action:'list'}) }}" class="btn btn-primary btn-sm full-width ellipsis">
							<i class="fa {{ ('entite.article')|trans({}, 'icon') }} fa-2x pull-left"></i><span class="m-t-xs pull-right">{{ UCfirst('actions.voir'|trans) }} {{ UCfirst(('name_s')|trans({}, 'article')) }}</span>
						</a>
					</div>

				</div>

			</div>
		</div>
	</div>


</div>


<hr class="m-t-md m-b-sm">



<div class="row">
	<div class="col-sm-12 col-md-6 col-lg-8">
		<div class="row">
		
			{% set entite = 'categorie' %}
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<h3><i class="fa {{ ('entite.' ~ entite)|trans({}, 'icon') }} m-r-xs"></i>{{ UCfirst(('name_s')|trans({}, entite)) }}</h3>
						<hr class="m-t-md m-b-sm">
						<!-- Liste -->
						<a href="{{ path('siteadmin_repo_categorie', {method:'findRoots'}) }}" class="btn btn-primary btn-sm full-width"><i class="fa fa-eye fa-2x pull-left"></i> <strong class="m-t-xs pull-right">{{ UCfirst('actions.voir'|trans) }}</strong></a>
							<!-- Statistiques -->
						<a href="{{ path('siteadmin_entite', {entite: entite, action:'list'}) }}" class="btn btn-warning btn-sm full-width{% if marketplace.statistiques == false %} disabled{% endif %}"><i class="fa fa-area-chart fa-2x pull-left"></i> <strong class="m-t-xs pull-right">{{ UCfirst('actions.analyse'|trans) }}</strong></a>
					</div>
				</div>
			</div>
			{% set entite = 'site' %}
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<h3 class="ellipsis"><i class="fa {{ ('entite.' ~ entite)|trans({}, 'icon') }} m-r-xs"></i>{{ UCfirst(('name')|trans({}, entite)) }} {{ sitedata.nom }}</h3>
						<hr class="m-t-md m-b-sm">
						<!-- Show -->
						<a href="{{ path('siteadmin_entite', {entite: 'site', id: sitedata.id, action: 'show'}) }}" class="btn btn-primary btn-sm full-width"><i class="fa fa-eye fa-2x pull-left"></i> <strong class="m-t-xs pull-right">{{ UCfirst('actions.voir'|trans) }}</strong></a>
						<!-- Edit -->
						<a href="{{ path('siteadmin_entite', {entite: 'site', id: sitedata.id, action: 'edit'}) }}" class="btn btn-default btn-sm full-width"><i class="fa fa-pencil fa-2x pull-left"></i> <strong class="m-t-xs pull-right">{{ UCfirst('actions.modifier'|trans) }}</strong></a>
					</div>
				</div>
			</div>

			{% if marketplace.active == false %}{% set forbidden = ['article','marque'] %}{% endif %}
			{% for entite in ['article', 'pageweb', 'User', 'ficherecette', 'ficheboisson'] if entite not in forbidden|default([]) %}
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<h3><i class="fa {{ ('entite.' ~ entite)|trans({}, 'icon') }} m-r-xs"></i>{{ UCfirst(('name_s')|trans({}, entite)) }}</h3>
						<hr class="m-t-md m-b-sm">
						{% if entite == 'User' %}
						<!-- Liste -->
						<a href="{{ path('siteUser_users') }}" class="btn btn-primary btn-sm full-width"><i class="fa fa-user fa-2x pull-left"></i> <strong class="m-t-xs pull-right">Tous</strong></a>
						<!-- Ajouter -->
						<a href="{{ path('siteUser_users', {type: 'ROLE_ADMIN'}) }}" class="btn btn-primary btn-sm full-width"><i class="fa fa-lock fa-2x pull-left"></i> <strong class="m-t-xs pull-right">Admin</strong></a>
						<!-- Statistiques -->
						<a href="{{ path('siteadmin_entite', {entite: entite, action:'list'}) }}" class="btn btn-warning btn-sm full-width{% if marketplace.statistiques == false %} disabled{% endif %}"><i class="fa fa-area-chart fa-2x pull-left"></i> <strong class="m-t-xs pull-right">{{ UCfirst('actions.analyse'|trans) }}</strong></a>
						{% else %}
						<!-- Liste -->
						<a href="{{ path('siteadmin_entite', {entite: entite, action:'list'}) }}" class="btn btn-primary btn-sm full-width"><i class="fa fa-eye fa-2x pull-left"></i> <strong class="m-t-xs pull-right">{{ UCfirst('actions.voir'|trans) }}</strong></a>
						<!-- Ajouter -->
						<a href="{{ path('siteadmin_entite', {entite: entite, action:'create'}) }}" class="btn btn-info btn-sm full-width"><i class="fa fa-plus fa-2x pull-left"></i> <strong class="m-t-xs pull-right">{{ UCfirst('actions.creation'|trans) }}</strong></a>
						<!-- Statistiques -->
						<a href="{{ path('siteadmin_entite', {entite: entite, action:'list'}) }}" class="btn btn-warning btn-sm full-width{% if marketplace.statistiques == false %} disabled{% endif %}"><i class="fa fa-area-chart fa-2x pull-left"></i> <strong class="m-t-xs pull-right">{{ UCfirst('actions.analyse'|trans) }}</strong></a>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>

</div>

<hr class="m-t-md m-b-sm">

<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h3><i class="fa fa-envelope"></i> Messages non lus <small><i>({{ messages|length }}{% if nbmessages > messages|length %}/{{ nbmessages }}{% endif %})</i></small></h3>
				<small><a href="{{ path('siteadmin_entite', {entite: 'message'}) }}">{{ UCfirst('action.consulter'|trans({}, 'message')) }}</a></small>
				<ul class="todo-list m-t small-list ui-sortable">
					{% for message in messages if (fromNow(message.creation, "secondes") >= 0) %}
					<li>
						<a href="#" class="check-link"><i class="fa {% if message.isRead %}fa-check-square{% else %}fa-square-o{% endif %}"></i> </a>
						<span class="m-l-xs{% if message.isRead %} todo-completed{% endif %}">{{ phraseCut(message.message, 22) }}</span>
						{% if fromNow(message.creation) <= 15 %}
						<small class="label label-warning pull-right"><i class="fa fa-clock-o"></i> {{ fromNow(message.creation) }} min.</small>
						{% elseif fromNow(message.creation, 'heures') < 1 %}
						<small class="label label-warning pull-right"><i class="fa fa-clock-o"></i> {{ fromNow(message.creation) }} min.</small>
						{% elseif fromNow(message.creation, 'heures') <= 24 %}
						<small class="label label-danger pull-right"><i class="fa fa-clock-o"></i> {{ fromNow(message.creation, 'heures') }} h</small>
						{% else %}
						<small class="label label-default pull-right"><i class="fa fa-clock-o"></i> {{ fromNow(message.creation, 'jours') }} j.</small>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

#}


{% endblock content %}