{% extends 'sitesiteBundle::base_pages.html.twig' %}
{% set cssjsloads = 'simple' %}
{% import 'sitesiteBundle:blocks:articles_actions.html.twig' as articles_macros %}
{% import 'sitesiteBundle:blocks:blocks_actions.html.twig' as blocks_actions %}
{% import 'sitesiteBundle:blocks:actions.html.twig' as actions %}
{% set EDITORMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_EDITOR')) %}

{% block mainContainer %}
<section>
	<div class="container">
		<div class="row">

			{% block menuArticle %}
			{{ render(controller('sitesiteBundle:Default:menuArticle')) }}
			{% endblock menuArticle %}

			{% if article %}
			<div class="col-sm-9 col-md-9 padding-left-resp"><!--colonne right-->
				<div class="content-page-right">
					<h2 class="title">
						{{ blocks_actions.breadcrumb(article, categorie) }}
						{%- if EDITORMODE %} <a {{ actions.adminHref(path('siteadmin_entite', {entite: article.class_name|default(article.shortName|default(null)), id: article.id, action: 'show'})) }}><i class="fa fa-eye icon-wait-on-click text-danger"></i></a>{% endif %}
						{%- if EDITORMODE %} <a {{ actions.adminHref(path('siteadmin_entite', {entite: article.class_name|default(article.shortName|default(null)), id: article.id, action: 'edit'})) }}><i class="fa fa-pencil icon-wait-on-click text-danger"></i></a>{% endif %}
					</h2>
					<div class="product-details background-gray"><!--product-details-->
						{% if article.image.id|default(null) != null %}
						<div class="col-sm-6">
							<div class="product-image-wrapper">
								<div class="single-products">
									{# {% if categorie.image.id != null %} #}
									{# <div class="productinfo"> #}
										{# <img src="{{ imageB64sized(categorie.image.id, 64, 64, 'cut') }}" alt="{{ categorie.0.slug }}" /> #}
									{# </div> #}
									{# {% endif %} #}
									<img src="{{ imageB64sized(article.image.id, 398, 279, 'cut') }}" alt="{{ article.slug }}" data-image-id="{{ article.image.id }}" class="img-responsive">
								</div>
							</div>
						</div><!--/col-sm-6-->
						<div class="col-sm-6">
						{% else %}
						<div class="col-sm-12">
						{% endif %}
							<div class="product-information"><!--/product-information-->
								<h2 class="m-t-xs m-b-none">{{ article.nom }}</h2>
								{% if article.accroche|default(null) != null %}
								<p><i>{{ article.accroche|raw }}</i></p>
								{% endif %}
								{# <p>Parent level 1 of {{ categorie }} : {{ categorie.parentOfLevel(1) }}</p> #}
								{# <p>Parent to childs : {{ categorie.parentOfLevel(1).allCategorieChilds()|join(' / ') }}</p> #}
								{% set parents = article.parentsByGroupForCategorie('nesteds', categorie) %}
								{% if parents|length > 0 %}
								<p><strong>{{ parents|join(' / ') }}</strong></p>
								{% endif %}

								{% if not article.surdevis %}
								<h2 class="product-information-price">{{ articlePrix(article)|raw }}</h2>
								{% else %}
								<h2 class="product-information-price"><small>Prix sur devis</small></h2>
								{# <p><a href="#">Demander un devis</a></p> #}
								{% endif %}

								{% if marketplace.vente and article.vendable and not article.surdevis %}
								<div class="btn-group order-group commande-cmd" role="group" aria-label="..." data-article='{{ dataForPanier(article) }}'>
									<button type="button" class="btn btn-default btn-commander"><i class="fa fa-shopping-cart fa-flip-horizontal"></i> Commander</button>
									<input class="command_quantity" type="text" name="quantity" value="{{ article.defaultquantity }}{% if article.unit != null %} {{ shortUnit(article.unit) }}{% endif %}" autocomplete="off" size="10">
									<span class="btn-quantity">
										<a class="btn quantity-top"><i class="fa fa-angle-up"></i></a>
										<a class="btn quantity-bottom"><i class="fa fa-angle-down"></i></a>
									</span>
								</div>
								{% endif %}
							</div><!--/product-information-->
						</div><!--/col-sm-6-->
					</div><!--/product-details-->
					
					<!-- -->
					{% set ficherecettes = article.group_articleFicherecette_childs %}
					{% set ficheboissons = article.group_articleFicheboisson_childs %}
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#details" data-toggle="tab">Details du produit</a></li>
								{% if ficherecettes|length > 0 %}
								<li class=""><a href="#ficherecette" data-toggle="tab">Fiches recettes</a></li>
								{% endif %}
								{% if ficheboissons|length > 0 %}
								<li class=""><a href="#ficheboisson" data-toggle="tab">Conseil en vin</a></li>
								{% endif %}
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="details">
								<div class="col-sm-12 p-b-sm">
									{# <h3 class="m-t-none">{{ article.nom }}</h3> #}
									{% if article.descriptif matches ('#(.)+#') %}
									{# <b>Conseil :</b></br> #}
									{# <div class="col-sm-12 padding-left-right-null"> #}
										{# <ul class="shop-details-ul"> #}
											{{ article.descriptif|raw }}
										{# </ul> #}
									{# </div> #}
									{% endif %}
								</div>
								{% if article.group_articles_childs|length > 0 %}
								<div class="col-sm-12 p-b-sm">
									<h4>À voir également…</h4>
								</div>
								{# <div class="col-sm-6 padding-left-right-null"> #}
								{% for artChild in article.group_articles_childs %}
									{{ articles_macros.boxArticle(artChild, null, {'buy': 'off', 'col': 'on'}) }}
								{% endfor %}
								{# </div> #}
								{% endif %}
							</div>
							{% if ficherecettes|length > 0 %}
							<div class="tab-pane fade active" id="ficherecette">
								<div class="col-sm-12">
									<div class="col-sm-6 padding-left-right-null">
										<ul class="shop-details-ul">
											{% for fiche in ficherecettes %}
											<li><a href="{{ path('site_pageweb_fiche', {itemSlug: fiche.slug}) }}"><i class="fa fa-caret-right"></i>{{ fiche.nom }}</a></li>
											{% endfor %}
										</ul>
									</div>
{# 									<div class="col-sm-6 padding-left-right-null">
										<ul class="shop-details-ul">
											<li><a href="fiche_recette.html"><i class="fa fa-caret-right"></i>Côtes de veau bordelaise</a></li>
											<li><a href="fiche_recette.html"><i class="fa fa-caret-right"></i>Côtes de veau panées</a></li>
										</ul>
									</div> #}
								</div>
							</div>
							{% endif %}
							{% if ficheboissons|length > 0 %}
							<div class="tab-pane fade" id="ficheboisson">
								<div class="col-sm-12">
									<div class="col-sm-6 padding-left-right-null">
										<ul class="shop-details-ul">
											{% for fiche in ficheboissons %}
											<li><a href="{{ path('site_pageweb_fiche', {itemSlug: fiche.slug}) }}"><i class="fa fa-caret-right"></i>{{ fiche.nom }}</a></li>
											{% endfor %}
										</ul>
									</div>
{# 									<div class="col-sm-6 padding-left-right-null">
										<ul class="shop-details-ul">
											<li><a href="fiche_recette.html"><i class="fa fa-caret-right"></i>Côtes de veau bordelaise</a></li>
										</ul>
									</div> #}
								</div>
							</div>
							{% endif %}
							
						</div>
					</div>
				</div>
			</div>
			{% else %}
			<h6 class="text-center m-t-lg">Ce produit n'existe pas.</h6>
			{% endif %}

		</div>
	</div>
	{# {{ dump(categorie) }} #}
</section>

	{# {{ render(controller('sitesiteBundle:Default:miniListeInfo')) }}     #}

{% endblock mainContainer %}