{% extends 'sitesiteBundle::base_pages.html.twig' %}
{% set cssjsloads = 'simple' %}
{% import 'sitesiteBundle:blocks:categories_actions.html.twig' as categories_actions %}
{% import 'sitesiteBundle:blocks:blocks_actions.html.twig' as blocks_actions %}

{% block mainContainer %}
<section>
	<div class="container">
		<div class="row">

			{% block menuArticle %}
			{{ render(controller('sitesiteBundle:Default:menuArticle')) }}
			{% endblock menuArticle %}

			<div class="col-sm-9 col-md-9 padding-left-resp">
				<div class="content-page-right">
					<h2 class="title">
						{{ blocks_actions.breadcrumb(categorie.0, categorie|reverse) }}
					</h2>
					{% block content %}
						{% if pageweb['#image_id'] != null or pageweb.code != null %}
							{% if pageweb['#image_id'] != null %}
								<img src="{{ imageB64sized(pageweb['#image_id'], 200) }}" class="img-responsive pull-left" style="margin:0px 8px 2px 0px;padding-top:4px;">
							{% endif %}
							{% if pageweb.code != null %}
							<p style='margin:0px;padding:0px;'>{{ pageweb.code|raw }}</p>
							{% endif %}
							<div style="height:30px;"></div>
							<hr>
						{% endif %}
						<div class="row">
							{% for item in items %}
								{{ categories_actions.boxCategorie(item, categorie.0) }}
							{% endfor %}
						</div>
						<div class="m-t-lg clearfix"></div>
					{% endblock content %}

				</div>
			</div>

		</div>
	</div>
</section>

	{# {{ render(controller('sitesiteBundle:Default:miniListeInfo')) }}     #}

{% endblock mainContainer %}
