{% extends 'sitesiteBundle::base_pages.html.twig' %}
{% set cssjsloads = 'simple' %}
{% set EDITORMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_EDITOR')) %}
{% import 'sitesiteBundle:blocks:articles_actions.html.twig' as articles_macros %}

{% block title %}{{ parent() }} - Enregistrement de votre commande{% endblock title %}

{% block mainContainer %}
<section>
	<div class="container">
		<div class="row">

			{% block menuArticle %}
			{{ render(controller('sitesiteBundle:Default:menuArticle')) }}
			{% endblock menuArticle %}

			{% if facture == null %}
			<div class="col-sm-9 col-md-9 padding-left-resp"><!--colonne right-->
				<div class="content-page-right">
					<h1 class="title">
						Votre commande n'a pu être enregistrée, une erreur est survenue.
						<span class="pull-right"><a href="{{ path('sitesite_homepage') }}" class="btn btn-xs btn-maroon m-l-xs"><i class="fa fa-check fa-fw m-r-xs"></i>Retour à l'accueil</a></span>
					</h1>
					{# <p class="text-center m-t-lg m-b-lg">Votre commande n'a pas été enregistrée,<br>Veuillez d'abord passer par la <a href="{{ path('site_pageweb_pageweb', {itemSlug: 'panier-commande'}) }}">page de commande</a> pour valider votre commande.</p> #}
					<br>
					<br>
				</div>
			</div>
			{% else %}
			<div class="col-sm-9 col-md-9 padding-left-resp"><!--colonne right-->
				<div class="content-page-right">
					<h1 class="title">
						Commande validée
						<span class="pull-right"><a href="{{ path('sitesite_homepage') }}" class="btn btn-xs btn-maroon m-l-xs"><i class="fa fa-check fa-fw m-r-xs"></i>Retour à l'accueil</a></span>
					</h1>
					<h3 class="text-center m-t-lg m-b-lg">Votre commande a été enregistrée,<br>nous préparons votre panier.</h3>
					<p>Numéro de facture : <strong>{{ facture.id }}</strong></p>
					<p>Votre panier sera disponible dès <strong>{{ dateFR(facture.delailivraison) }} à partir de {{ facture.delailivraison|date('H\\hi') }}</strong></p>
					<p>Montant de votre commande : <strong>{{ facture.prixtotal|number_format(2, ',', '') }}&nbsp;{{ facture.devise.symb }}</strong></p>
					{% if is_granted('ROLE_TESTER') %}<h2 class="title well well-xs well-warning text-center">ATTENTION : vous êtes en mode testeur.<br>Votre commande ne sera donc pas prise en compte.</h2>{% endif %}
					<br>
				</div>
			</div>
			<div class="col-sm-9 col-md-9 padding-left-resp m-b-lg"><!--colonne right-->
				<div class="content-page-right background-gray m-b-lg p-t-xs p-b-xs">
					<div class="row">
						<div class="col-xs-12">
							<h5 class='text-center'><i class="fa fa-envelope m-r-xs"></i> Un mail récapitulatif de votre commande vous a été envoyé.<br>Vous recevrez également un mail lorsque votre commande sera prête.</h5>
						</div>
					</div>
					{% if pageweb|default(null) is not null %}
					<div class="row">
						<div class="col-xs-12 m-t-xs m-b-sm">
							{{ pageweb.code|raw }}
						</div>
					</div>
					{% endif %}
				</div>
				{# {{ dump(facture.panier|default([])) }} #}
				{# {{ dump(request|default([])) }} #}
			</div>
			{% endif %}

		</div>
	</div>
</section>

	{# {{ render(controller('sitesiteBundle:Default:miniListeInfo')) }}     #}

{% endblock mainContainer %}