{% extends 'siteadminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['dev', 'test']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				<h2>{{ UCfirst('superadmin.name'|trans) }}{% if type.type_values|default(null) != null %} - {{ type.type_values|join('/') }}{% endif %}</h2>
				<ol class="breadcrumb">
					<li>{{ UCfirst('superadmin.name'|trans) }}</li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div class="row">
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	{% set collapsed = " collapsed" %}
	{% set collapsed = "" %}
	{% set partname = 'service' %}
	<div class="col-lg-6">
		<div class="ibox{{ collapsed }}">
			<div class="ibox-title">
				<h5><small>Liste des</small> <strong>services</strong></h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				<div class="panel-body">
					<div class="panel-group" id="{{ partname }}_accordion">
						{% for name,service in services %}
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5 class="panel-title">
									<a data-toggle="collapse" data-parent="#{{ partname }}_accordion" href="#{{ partname }}_collapse_{{ loop.index0 }}"><strong>{{ service.nom|default(name ~ ' <i><small>(non défini)</small></i>')|raw }}</strong> <i class="text-muted"><small>Niv. {{ service.level|default('0') }} / {{ service.parentClassName(true)|default('aucun parent') }}</small></i></a>
									{% if service.callName|default(null) != null %}
									<a href="{{ path('siteadmin_sadmin_services', {service: service.callName}) }}" class="pull-right"><i class="fa fa-eye"></i></a>
									{% endif %}
								</h5>
							</div>
							<div id="{{ partname }}_collapse_{{ loop.index0 }}" class="panel-collapse collapse{% if loop.first %} in{% endif %}">
								<div class="panel-body">
									<p class="m-b-none">• Nom : {{ service.nom }}</p>
									<p class="m-b-none">• Call : {{ service.callName|default(null) }}</p>
									<p class="m-b-none">• Class : {{ service.name }}</p>
									<p class="m-b-none">• ClassName : {{ service.className }}</p>
									<p class="m-b-none">• ShortName : {{ service.shortName }}</p>
									<p class="m-b-none">• Parent classes : <i><p class="m-l-lg m-b-none">{{ service.parentsClassNames|join('</p><p class="m-l-lg m-b-none"> ')|raw }}</p></i></p>
									<p class="m-b-none">• Parent names : <i><p class="m-l-lg m-b-none">{{ service.parentsShortNames|join('</p><p class="m-l-lg m-b-none"> ')|raw }}</p></i></p>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% set partname = 'route' %}
	<div class="col-lg-6">
		<div class="ibox{{ collapsed }}">
			<div class="ibox-title">
				<h5><small>Liste des</small> <strong>routes</strong></h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				<div class="panel-body">
					<div class="panel-group" id="{{ partname }}_accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5 class="panel-title">
									<a data-toggle="collapse" data-parent="#{{ partname }}_accordion" href="#{{ partname }}_collapse_0"><strong>Routes website/webadmin</strong></a>
								</h5>
							</div>
							<div id="{{ partname }}_collapse_0" class="panel-collapse collapse">
								<div class="panel-body">
									{% for route in aetools_service.allRoutes if not (route matches('/^(_|fos_user_)/i')) %}
									<p class="m-b-none">{{ route }}</p>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5 class="panel-title">
									<a data-toggle="collapse" data-parent="#{{ partname }}_accordion" href="#{{ partname }}_collapse_1"><strong>Routes FOS UserBundle</strong></a>
								</h5>
							</div>
							<div id="{{ partname }}_collapse_1" class="panel-collapse collapse">
								<div class="panel-body">
									{% for route in aetools_service.allRoutes if route matches('/^fos_user_/i') %}
									<p class="m-b-none">{{ route }}</p>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5 class="panel-title">
									<a data-toggle="collapse" data-parent="#{{ partname }}_accordion" href="#{{ partname }}_collapse_2"><strong>Routes Assetic</strong></a>
								</h5>
							</div>
							<div id="{{ partname }}_collapse_2" class="panel-collapse collapse">
								<div class="panel-body">
									{% for route in aetools_service.allRoutes if route matches('/^_assetic/i') %}
									<p class="m-b-none">{{ route }}</p>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="col-md-8 col-md-offset-2 alert alert-danger text-center">
		<h2><i class="fa fa-times"></i> Vous n'êtes pas autorisé à accéder à cette section.</h2>
	</div>
	{% endif %}
</div>
{% endblock content %}